<div class="mt-2">
    <h1>Logowanie</h1>
    <form method="post">
        <label>
            Login
            <input name="login">
        </label>
        <label>
            Hasło
            <input type="password" name="password" placeholder="1234">
        </label>
        <input type="submit" value="Zaloguj">
    </form>
    <% if (model.errorMessage) { %>
        <div class="alert alert--danger">
            <div><%= model.errorMessage %></div>
        </div>
    <% } %>
</div>
