<section class="logout">
    <h1>Dashboard</h1>
    <div>
        Witaj na mojej stronie <mark><%= model.userName %></mark>!
        <p>Zalogowałeś się prawidłowo</p>
    </div>
    <nav>
        <a href="/tasks">Zadania</a>
    </nav>
    <div class="logout__form">
        <form method="post" action="/log-out">
            <button type="submit">Wyloguj</button>
        </form>
    </div>
</section>
